* {
    list-style: none;
    box-sizing: border-box;
}

.sidebar-container {
    border-right: 0.1px solid rgb(230, 227, 227);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease;

    .top {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        
    }

    .logo {
        font-size: 20px;
        font-weight: bold;
        color: #fff;
        transition: transform 0.3s ease;
    }

    .center {
        .sidebar-list {
            list-style: none;
            margin: 0;
            padding: 10px;
            li {
                height: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-top: 10px;
                padding: 15px;
                cursor: pointer;
                transition: all 0.3s ease;

                &:hover {
                    background-color: #3c3f44;
                    border-radius: 5px;
                }

                .icon {
                    fill: #fff;
                    stroke: #fff;
                    width: 22px;
                    height: 22px;
                    transition: transform 0.3s ease;
                }

                a {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    text-decoration: none;

                    span {
                        font-size: 13px;
                        font-weight: 600;
                        color: #fff;
                        margin-left: 22px;
                        font-size: 17px;
                        transition: opacity 0.3s ease;
                    }

                    img {
                        min-width: 25.2px;
                        max-height: 25.2px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }
            }
        }
    }

    .footer {
        .sidebar-list {
            list-style: none;
            margin: 0;
            padding: 10px;
            li {
                height: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-top: 10px;
                padding: 15px;
                cursor: pointer;
                transition: all 0.3s ease;

                &:hover {
                    background-color: #3c3f44;
                    border-radius: 5px;
                }

                .icon {
                    fill: #fff;
                    stroke: #fff;
                    width: 22px;
                    height: 22px;
                    transition: transform 0.3s ease;
                }
                a {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    text-decoration: none;

                    span {
                        font-size: 13px;
                        font-weight: 600;
                        color: #fff;
                        margin-left: 22px;
                        font-size: 17px;
                        transition: opacity 0.3s ease;
                    }
                }
            }
        }
    }
}

/* Media query để ẩn thẻ span khi màn hình nhỏ */
@media (max-width: 768px) {
    .sidebar-container {
        width: 80px;
        
        .logo {
            transform: scale(0.8);
            .icon{
                fill: #fff;
                stroke: #fff;
                width: 29px;
                height: 29px;
                transition: transform 0.3s ease;
            }
        }

        .center, .footer {
            .sidebar-list {
                li {
                    a span {
                        opacity: 0;
                    }

                    .icon {
                        transform: scale(0.8);
                    }
                }
            }
        }
    }
}

/* Media query để chuyển sidebar xuống dưới màn hình khi nhỏ hơn 400px */
@media (max-width: 400px) {
    .sidebar-container {
        width: 100%;
        height: 60px; /* Chiều cao của sidebar khi ở dưới màn hình */
        min-height: 60px;
        position: fixed;
        bottom: 0;
        left: 0;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-top: 0.1px solid rgb(230, 227, 227);
        border-right: none;

        
        .top, .footer {
            display: none; /* Ẩn phần top và footer khi sidebar ở dưới */
        }

        .center {
            .sidebar-list {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                justify-content: center;
                gap:20px;
                li {
                    margin: 0;
                    padding: 0;
                    height: auto;
                    
                    &:hover {
                        background-color: transparent; /* Bỏ background khi hover */
                    }

                    a {
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        .icon {
                            transform: scale(1);
                        }

                        span {
                            display: none; /* Ẩn span hoàn toàn khi ở dưới màn hình */
                        }
                    }
                }
            }
        }
    }
}
